* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif
}
body {
    background-color: pink;
}
.container {
    font-size: 20px;
    background-color: rgb(255, 237, 240);
    width: 90vw;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em black (11, 85, 0, 0.25);
}
#options-container {
    text-align: center;
}
#options-container div {
    width: 100;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
}
#options-container button {
    padding: 0.6em 1.2em;
    border: 3px solid black;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    border-radius: 0.3em;
    text-transform: capitalized;
    cursor: pointer;
}
#options-container button:disabled {
    border: 3px solid rgb(216, 195, 168);
    color: rgb(216, 195, 168);
    background-color: white;
}
#options-container button.active {
    background-color: pink;
    border: 3px solid rgb(197, 135, 189);
    color: white;
}
.letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}
#letter-container button {
    height: 2.8em;
    width: 2.8em;
    border-radius: 0.3em;
    border: 0.3em solid rgb(255, 164, 179);
    background-color: pink;
    cursor: pointer;
}
.new-game-popup {
    background-color: white;
    position: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}
#user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}
canvas {
    display: block;
    margin: auto;
    border: 15px solid pink;
    border-radius: 10px;
}
#result-text h2 {
    font-size: 1.8em;
    font-style: italic;
    text-align: center;
}
#result-text p {
    font-size: 1.25em;
    font-style: italic;
    margin: 1em 0 2em 0;
}
#result-text span {
    font-weight: 600;
}
#new-game-button {
    font-size: 1.25em;
    font-style: italic;
    padding: 0.5em 1em;
    background-color: pink;
    border: 3px solid rgb(255, 164, 179);
    color: rgb(255, 148, 166);
    border-radius: 0.2em;
    cursor: pointer;
}
.win-msg {
    color: greenyellow;
    font-style: italic;
}
.lose-msg {
    color: red;
    font-style: italic;
}
.hidden {
    display: none;
}

h3{
    color: rgb(245, 162, 175);
    font-style: italic;
}

.post {
    width: 5px;
    height: 200px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    left: 90px;
    top: 180px;
}

 .beam {
    width: 130px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    left: 91px;
    top: 180px;
 }

.rope {
    width: 5px;
    height: 30px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 180px;
    left: 176px;
}

.head {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 210px;
    left: 159px;
    border-radius: 1000px;
}

.body {
    width: 5px;
    height: 70px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 250px;
    left: 175px;
}

.left-arm {
    width: 45px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 250px;
    left: 130px;
    transform: rotate(-45deg);
    transform-origin: right;
}

.right-arm {
    width: 45px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 250px;
    left: 180px;
    transform: rotate(45deg);
    transform-origin: left;
}

.left-leg {
    width: 40px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 318px;
    left: 137px;
    transform: rotate(-45deg);
    transform-origin: right;
}

.right-leg {
    width: 40px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 318px;
    left: 180px;
    transform: rotate(45deg);
    transform-origin: left;
}

.hangman-container {
    width: 450px;
    height: 280px;
    background-color: rgb(255, 237, 240);
    border: 5px solid rgb(255, 164, 179);
}

.ground1 {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 370px;
    left: 90px;
    transform: rotate(45deg);
    transform-origin: left;
}

.ground2 {
    width: 25px;
    height: 5px;
    background-color: rgb(255, 164, 179);
    position: absolute;
    top: 370px;
    left: 70px;
    transform: rotate(-45deg);
    transform-origin: right;
}